.root {
  background: #ffffff;
  background-attachment: fixed;
	background-size: cover;
	position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
